SALAI_TOKEN="Token of the Account from which you paid MidJourney"
SERVER_ID="Server id here"
CHANNEL_ID="Channel in which commands are sent"
SESSION_ID="session id here"
HUGGINGFACE_TOKEN="verify human https://huggingface.co/docs/hub/security-tokens" 
PROXY_URL="http://127.0.0.1:7890"
BASE_URL="https://discord.com"
WS_BASE_URL="wss://gateway.discord.gg?v=9&encoding=json&compress=gzip-stream"
